name: Generate sitemap
on:
  push:
    branches: [ main ]
jobs:
  sitemap:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: cicirello/generate-sitemap@v1.10.2
      with:
        base-url-path: 'https://vishala5000.github.io/Daily-Bible-Verse-Shine'
    - uses: cicirello/bot-github-pull-requests@v1.6.1
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
